body {  
  font-family: cursive;   
}
  
a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}
  
a:hover {
  color: #5983ff;
  text-decoration: none;
}
  
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
  
.title{
  margin-top: 100px;
  text-align: center;
}
  
.title h3{
  display:inline-block;
  color: aqua;
  font-family: cursive;
  vertical-align: middle;
}

.samba{
  display: none;
}

.btns{
  text-align: center;
}

.btn{
  margin-top: 40px;
  background-color: rgb(255, 167, 167);
  width: 100px;
  text-align: center;
}

.btn-push{
  padding-right: 10px;
  color: snow;
}

.btn span{
  padding-right: 5px;
}

.result{
  display: none;
  margin-top: 50px;
  text-align: center;
  color: crimson;
}

.resulttext{
  font-size: 18px;
}

.resulttext{
  margin-top: 20px;
}